html {
    height: 100%;
    width: 100%;
  }
  
  *{
    box-sizing: border-box;
  }
body {
    background-color: whitesmoke;
    height: 100vh;
    margin: 0;
    color: rgb(56,59,65)
}
.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    align-content: center;
    background-color: whitesmoke;
    padding: 150px;
    
}
.card {
    /* height: auto;
    width: auto; */
    padding: 50px;
    border: solid 2px black;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(231,229,220) ;
   
}
/* Main div */


/* Image div */

img {
    width: 553px;
    height: 320px;
    border:  solid grey 1px;
    border-radius: 10px;

}

/* Form div */

form {
    display: flex;
    margin: 10px ;
    margin-left: 10px;
    
}
input[type="text"] {
    width: 192px;
    height: 40px;
    font-size:16px;
    margin-right: 12px;
    border-radius: 20px;
   
}

input[type="submit"] {
    width: 88px;
    height: 40px;
    font-size:15px;
    border-radius: 20px;
    background-color: rgb(231,229,220);
}
.button {
    background-color:rgb(231,229,220);
    color: rgb(56,59,65)
    font-size: 15px;
    cursor:pointer;
    border-radius: 1px;
}


/* Font styles */

#main-info > #country {
    font-size: 120px;
    font-family: 'Koulen';
    margin-right: 20px;
    float:right;
}

#main-info > #population, #lang, #currency {
    font-family: 'Miriam Libre', sans-serif;
    font-size:25px;
    margin-right: 20px;
    text-align: right;
}

#main-info > #capital {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 40px;
    margin-right: 20px;
    text-align: right;
  
}
table > tr {
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

table {
    align-content: center;
    justify-content: center;
    margin: 0 auto; 
}

td > #form, td > #flag-img {
    margin-left: 70px;
}


@media only screen and (max-width: 1523px) {
   img {
        width: 334px;
        height: 185px;
        border:  solid grey 1px;
        border-radius: 10px;
    }
   
    #main-info > #country {
        font-size: 80px;
        font-family: 'Koulen';
        margin-right: 20px;
        float:right;
    }
    
    #main-info > #population, #lang, #currency {
        font-family: 'Miriam Libre', sans-serif;
        font-size:18px;
        margin-right: 20px;
        text-align: right;
    }
    
    #main-info > #capital {
        font-family: 'Miriam Libre', sans-serif;
        font-size: 20px;
        margin-right: 20px;
        text-align: right;
      
    }


    @media only screen and (max-width: 1125px) {
        img {
            width: 250px;
            height: 120px;
            border:  solid grey 1px;
            border-radius: 10px;
        }
       
        #main-info > #country {
            font-size: 40px;
            font-family: 'Koulen';
            margin-right: 10px;
            float:right;
        }
        
        #main-info > #population, #lang, #currency {
            font-family: 'Miriam Libre', sans-serif;
            font-size:13px;
            margin-right: 10px;
            text-align: right;
        }
        
        #main-info > #capital {
            font-family: 'Miriam Libre', sans-serif;
            font-size: 15px;
            margin-right: 10px;
            text-align: right;
          
        }
}
@media only screen and (max-width: 903px) {
    img {
        width: 220px;
        height: 110px;
        border:  solid grey 1px;
        border-radius: 10px;
    }
   
    #main-info > #country {
        font-size: 30px;
        font-family: 'Koulen';
        margin-right: 8px;
        float:right;
    }
    
    #main-info > #population, #lang, #currency {
        font-family: 'Miriam Libre', sans-serif;
        font-size:10px;
        margin-right: 8px;
        text-align: right;
    }
    
    #main-info > #capital {
        font-family: 'Miriam Libre', sans-serif;
        font-size: 13px;
        margin-right: 8px;
        text-align: right;
      
    }
}
}

h1 {
    font-family: 'Source Code Pro', monospace;   

}